{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="login-container">
    <div class="login-form">
        <h2>Sign In</h2>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="flash-messages">
                    {% for message in messages %}
                        <div class="flash">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <form action="{{ url_for('auth.login') }}" method="POST">
            <div class="input-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button type="submit" class="btn">Login</button>
            <div class="links">
                <a href="{{ url_for('auth.forgot_password') }}">Forgot your password? Reset now</a>
            </div>
            <div class="links">
                <a href="{{ url_for('auth.register') }}">Create a new Account</a>
            </div>
            <div class="register-social-login">
                <a href="{{ url_for('auth.google_login') }}" class="register-social-btn">
                    <img src="{{ url_for('static', filename='images/icons8-google-128.png') }}" alt="Google Icon"> Login with Google
                </a>
            </div>
        </form>
    </div>
</div>
{% endblock %}
