<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>{{ post.title }}</title>
</head>
<body>
    {% include 'header.html' %}
    <main class="container mt-4">
        <h1>{{ post.title }}</h1>
        <p>by {{ post.author.username }}</p>
        <div>
            {{ post.content }}
        </div>
        <a href="{{ url_for('main.blog') }}" class="btn btn-custom">Back to Blog</a>
    </main>
    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
