{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="register-container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flash-messages">
                {% for message in messages %}
                    <div class="flash">{{ message }}</div>
                    <br> <!-- Adding new line after each flash message -->
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <div class="register-form">
        <h2>Sign Up</h2>
        <form action="{{ url_for('auth.register') }}" method="POST">
            <div class="register-input-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="register-input-group">
                <label for="email">Email Address</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="register-input-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="register-input-group">
                <label for="confirm_password">Confirm Password</label>
                <input type="password" id="confirm_password" name="confirm_password" required>
            </div>
            <button type="submit" class="register-btn">Sign Up</button>
            <div class="register-links">
                <a href="{{ url_for('auth.login') }}">Already have an account? Login</a>
            </div>
        </form>
        <div class="register-social-login">
            <a href="{{ url_for('auth.google_login') }}" class="register-social-btn">
                <img src="{{ url_for('static', filename='images/icons8-google-128.png') }}" alt="Google Icon"> Login with Google
            </a>
        </div>
    </div>
</div>
{% endblock %}
