<!-- home.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Plantbuddy</title>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <section class="hero">
            <div class="content">
                <h1>Sorge für deine Pflanzen wie ein Profi!</h1>
                <p>Professionelle Pflanzenpflege direkt zur Hand: Gieß-Erinnerungen, Pflanzenidentifikation und eine weltweite Gemeinschaft von Pflanzenliebhabern.</p>
                <a href="{{ url_for('register') }}" class="btn">Register now</a>
            </div>
            <div class="image">
                <img src="{{ url_for('static', filename='images/Panel_Indoor_Plants.jpg') }}" alt="Plant with Sensor">
            </div>
        </section>
        <section class="features">
            <h2>Take the guesswork out of plant care for students!</h2>
            <div class="features-container">
                <div class="feature">
                    <img src="{{ url_for('static', filename='images/icons8-search-96.png') }}" alt="Identify">
                    <h3>Identify, care, and grow</h3>
                    <p>PlantBuddy kann über 50 Pflanzenarten identifizieren und dir Pflegehinweise sowie typische Krankheiten aufzeigen.</p>
                </div>
                <div class="feature">
                    <img src="{{ url_for('static', filename='images/icons8-add-reminder-96.png') }}" alt="E-Mail reminders">
                    <h3>E-Mail reminders</h3>
                    <p>Erhalte E-Mail-Erinnerungen zum Gießen und Düngen deiner Pflanzen.</p>
                </div>
                <div class="feature">
                    <img src="{{ url_for('static', filename='images/icons8-contact-us-96.png') }}" alt="Contact us">
                    <h3>A blooming community</h3>
                    <p>Bei Problemen hilft dir unsere Kontaktseite weiter.</p>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <p>PlantBuddy - Your plant care assistant!</p>
    </footer>
</body>
</html>
