<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='plants.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}
    <div class="plants-container">
        {% for plant in plants %}
        <div class="plant-card">
            <img src="{{ plant.photo }}" alt="{{ plant.name }}">
            <h2>{{ plant.name }}</h2>
            <div class="hover-buttons">
                <a href="{{ url_for('plants.plant_detail', plant_id=plant.id) }}" class="button">Details</a>
                <a href="{{ url_for('plants.add_plant', plant_id=plant.id) }}" class="button">Add to My Plants</a>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
</html>
