<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>PlantBuddy</title>
</head>
<body>
    {% include 'header.html' %}
    <main>
        <section class="hero d-flex justify-content-between align-items-center p-4">
            <div class="content">
                <h1>Sorge für deine Pflanzen wie ein Profi!</h1>
                <p>Professionelle Pflanzenpflege direkt zur Hand: Gieß-Erinnerungen, Pflanzenidentifikation und eine weltweite Gemeinschaft von Pflanzenliebhabern.</p>
                {% if not current_user.is_authenticated %}
                    <a href="{{ url_for('auth.register') }}" class="btn btn-primary">Register now</a>
                {% endif %}
            </div>
            <div class="image">
                <img src="{{ url_for('static', filename='images/Panel_Indoor_Plants.jpg') }}" alt="Plant with Sensor">
            </div>
        </section>
        <section class="features text-center p-4 bg-light">
            <h2>Take the guesswork out of plant care for students!</h2>
            <div class="features-container d-flex justify-content-around align-items-stretch flex-wrap">
                <div class="feature flex-grow-1 p-3 m-1 bg-white rounded shadow-sm text-center">
                    <img src="{{ url_for('static', filename='images/icons8-search-96.png') }}" alt="Identify">
                    <h3>Identify, care, and grow</h3>
                    <p>PlantBuddy kann über 50 Pflanzenarten identifizieren und dir Pflegehinweise sowie typische Krankheiten aufzeigen.</p>
                </div>
                <div class="feature flex-grow-1 p-3 m-1 bg-white rounded shadow-sm text-center">
                    <img src="{{ url_for('static', filename='images/icons8-add-reminder-96.png') }}" alt="E-Mail reminders">
                    <h3>E-Mail reminders</h3>
                    <p>Erhalte E-Mail-Erinnerungen zum Gießen und Düngen deiner Pflanzen.</p>
                </div>
                <div class="feature flex-grow-1 p-3 m-1 bg-white rounded shadow-sm text-center">
                    <img src="{{ url_for('static', filename='images/icons8-contact-us-96.png') }}" alt="Contact us">
                    <h3>A blooming community</h3>
                    <p>Bei Problemen hilft dir unsere Kontaktseite weiter.</p>
                </div>
            </div>
        </section>
    </main>
    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
