<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plants</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='plants.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="plants-container">
        {% if plants %}
            {% for plant in plants %}
                <div class="plant-card">
                    <img src="{{ url_for('static', filename=plant.photo[7:]) }}" alt="{{ plant.name }}">
                    <h2>{{ plant.name }}</h2>
                    <div class="hover-buttons">
                        <a href="{{ url_for('plants.plant_detail', plant_id=plant.id) }}" class="button">Details</a>
                        <a href="{{ url_for('plants.add_plant', plant_id=plant.id) }}" class="button">Add to My Plants</a>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>No plants available.</p>
        {% endif %}
    </div>
    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
