<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ plant.name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='plants.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
    {% include 'header.html' %}
    <div class="plant-detail-container">
        <div class="plant-detail-image">
            <img src="{{ url_for('static', filename=plant.photo[7:]) }}" alt="{{ plant.name }}">
        </div>
        <div class="plant-detail-info">
            <h1>{{ plant.name }}</h1>
            <p>{{ plant.description }}</p>
            <p><strong>Placement:</strong> {{ plant.placement }}</p>
            <p><strong>Water Demand:</strong> {{ plant.water_demand }}</p>
            <p><strong>Fertilizing:</strong> {{ plant.fertilizing }}</p>
            <a href="{{ url_for('plants.plants') }}" class="button">Back to All Plants</a>
        </div>
    </div>
    {% include 'footer.html' %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>
